/* It need for show scroll in FF */
:root {
	scrollbar-width: auto;
}

body {
	margin: 0;
}

/* Page */
.Page-Body {
	max-width: 800px;
	margin: auto;

	/*	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif; */
	font-size: var(--typography-layout-size-m-font-size);
}

.Page-Body_hidden {
	display: none;
}

/* Placeholder */
.Page-Placeholder {
	position: absolute;
	inset: 0;
}

.Page-Placeholder .Loader {
	height: 100%;
}

.Page-Placeholder .Loader-Image {
	width: 3rem;
	height: 3rem;
}
