.TranslationCard {
	border: 2px solid #eee;
	padding: var(--typography-controls-indent-xl);
	border-radius: var(--typography-controls-border-radius);
}

.TranslationCard:not(:last-child) {
	margin-bottom: var(--typography-controls-indent-l);
}

.TranslationCard > :not(:last-child) {
	margin-bottom: var(--typography-controls-indent-m);
}

.TranslationCard-Head {
	display: flex;
	line-height: 100%;
}

.TranslationCard-Meta > :not(:last-child) {
	margin-right: var(--typography-controls-indent-m);
}

.TranslationCard-Meta > * {
	vertical-align: middle;
}

.TranslationCard-Lang {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: var(--typography-controls-indent-m);
	border-radius: var(--typography-controls-border-radius);
}

.TranslationCard-Date {
	color: var(--color-typo-secondary);
}

.TranslationCard-Control {
	margin-left: auto;
}

.TranslationCard-Content {
	display: flex;
	min-height: 3rem;
	gap: var(--typography-controls-indent-l);
}

.TranslationCard_layout_vertical .TranslationCard-Content {
	flex-direction: column;
}

.TranslationCard_layout_horizontal .TranslationCard-Content {
	flex-direction: row;
}

.TranslationCard-TextContainer {
	box-sizing: border-box;
	width: 100%;
	border-radius: var(--typography-controls-border-radius);
	background-color: #eee;
}

.TranslationCard-TextAction {
	padding-top: var(--typography-controls-indent-l);
}

.TranslationCard-Text {
	max-height: 400px;
	overflow: auto;
	padding: var(--typography-controls-indent-l);
	white-space: pre-wrap;
	scrollbar-width: thin;
}
