.TranslatorsManager {
	max-width: 600px;
}

@media (min-width: 600px) {
	.TranslatorsManager {
		min-width: 400px;
	}
}

.TranslatorsManager-Description {
	padding: 0.8rem;
	border-radius: 4px;
	background: #e6e6e6;
	margin-bottom: 1rem;
}

.TranslatorsManager-Entry {
	display: flex;
	flex-flow: row;
	line-height: 2em;
}

.TranslatorsManager-EntryName {
	width: 100%;
	padding: 0 0.3rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.TranslatorsManager-EntryControls {
	min-width: max-content;
}
