.Editor-Container {
	--editor-code-height: 80vh;

	width: 900px;
}

@media (max-width: 950px) {
	.Editor-Container {
		--editor-code-height: 70vh;

		width: 95vw;
	}
}

.Editor .Textinput {
	width: 100%;
}

.Editor-Code {
	min-height: var(--editor-code-height);
	max-height: var(--editor-code-height);
}

.Editor-Error {
	border-radius: 4px;
	padding: 0.6rem;
	background: #e10a0a;
	color: #fff;
}
