.Editor .Modal-Content {
	display: flex;
	min-height: calc(100vh - var(--modal-size-m-content-indent) * 2);
	box-sizing: border-box;
	padding: 1rem;
}

.Editor-Container {
	display: flex;
	flex-direction: column;
	width: 900px;
	gap: 0.5rem;
	min-height: 300px;
}

@media (width <= 950px) {
	.Editor-Container {
		width: 95vw;
	}
}

.Editor-Controls {
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}

.Editor .Textinput {
	width: 100%;
}

.Editor-EditorContainer {
	display: flex;
	flex-grow: 5;
}

.Editor-Code {
	width: 100%;
}

.Editor-Error {
	border-radius: 4px;
	padding: 0.6rem;
	background: #e10a0a;
	color: #fff;
}
