.DictionaryPage {
	padding: var(--typography-layout-indent-l-all) var(--typography-layout-indent-m-all);
}

/* Description */

.DictionaryPage-Description {
	border-radius: var(--typography-controls-border-radius);
	color: var(--color-typo-secondary);
}

/* Search components */

.DictionaryPage-SearchControl {
	width: 100%;
}

.DictionaryPage_mobile .DictionaryPage-SearchOptions .Select {
	width: 100%;
}

/* NotFoundMessage */

.DictionaryPage-NotFoundMessage {
	display: table;
	box-sizing: border-box;
	width: 100%;
	min-height: 120px;
	padding: var(--typography-controls-indent-l);
	border-radius: var(--typography-controls-border-radius);
	font-size: 1.5rem;
	background: #eee;
	color: var(--color-typo-secondary);
}

.DictionaryPage-NotFoundMessageContent {
	display: table-cell;
	width: 100%;
	max-width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	word-wrap: anywhere;
}
