.DictionaryPage {
	padding: var(--typography-layout-indent-l-all) var(--typography-layout-indent-m-all);
}

.DictionaryPage > :not(:last-child) {
	margin-bottom: var(--typography-controls-indent-l);
}

/* Description */

.DictionaryPage-Description {
	border-radius: var(--typography-controls-border-radius);
	color: var(--color-typo-secondary);
	padding-bottom: 1rem;
}

/* Controls */

.DictionaryPage-Controls {
	display: flex;
}

.DictionaryPage-ControlsPanel {
	min-width: max-content;
}

.DictionaryPage-ControlsPanel:not(:last-child) {
	padding-right: 1rem;
}

.DictionaryPage-ControlsPanel > :not(:last-child) {
	margin-right: var(--typography-controls-indent-m);
}

.DictionaryPage-ControlsPanel_width_max {
	width: 100%;
}

.DictionaryPage-ControlsPanel_direction_right {
	margin-left: auto;
}

/* Control elements */

.DictionaryPage-SearchControl {
	width: 100%;
}

/* NotFoundMessage */

.DictionaryPage-NotFoundMessage {
	display: table;
	box-sizing: border-box;
	width: 100%;
	min-height: 120px;
	padding: var(--typography-controls-indent-l);
	border-radius: var(--typography-controls-border-radius);
	font-size: 1.5rem;
	background: #eee;
	color: var(--color-typo-secondary);
}

.DictionaryPage-NotFoundMessageContent {
	display: table-cell;
	width: 100%;
	max-width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	word-wrap: anywhere;
}

/* Entry */

.DictionaryPage-Entry {
	border: 2px solid #eee;
	padding: var(--typography-controls-indent-xl);
	border-radius: var(--typography-controls-border-radius);
}

.DictionaryPage-Entry:not(:last-child) {
	margin-bottom: var(--typography-controls-indent-l);
}

.DictionaryPage-Entry > :not(:last-child) {
	margin-bottom: var(--typography-controls-indent-m);
}

/* EntryHead */

.DictionaryPage-EntryHead {
	display: flex;
	line-height: 100%;
}

.DictionaryPage-EntryMeta > :not(:last-child) {
	margin-right: var(--typography-controls-indent-m);
}

.DictionaryPage-EntryMeta > * {
	vertical-align: middle;
}

.DictionaryPage-Lang {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: var(--typography-controls-indent-m);
	border-radius: var(--typography-controls-border-radius);
}

.DictionaryPage-Date {
	color: var(--color-typo-secondary);
}

.DictionaryPage-EntryControl {
	margin-left: auto;
}

/* Content */

.DictionaryPage-EntryContent {
	display: flex;
	min-height: 3rem;
}

.DictionaryPage-EntryContent > :not(:last-child) {
	margin-right: var(--typography-controls-indent-m);
}

.DictionaryPage-EntryTextContainer {
	box-sizing: border-box;
	width: 100%;
	border-radius: var(--typography-controls-border-radius);
	background-color: #eee;
}

.DictionaryPage-EntryTextAction {
	padding-top: var(--typography-controls-indent-l);
}

.DictionaryPage-EntryText {
	max-height: 400px;
	overflow: auto;
	padding: var(--typography-controls-indent-l);
	white-space: pre-wrap;
	scrollbar-width: thin;
}
