:root {
	--scrollFix-scrollY: 17px;
	--scrollFix-scrollX: 17px;
}

.scrollFix__indent-right {
	margin-right: var(--scrollFix-scrollY);
}

.scrollFix__indent-left {
	margin-left: var(--scrollFix-scrollY);
}

.scrollFix__indent-bottom {
	margin-bottom: var(--scrollFix-scrollX);
}
