{
	"env": {
		"browser": true,
		"es2020": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint",
		"unused-imports",
		"simple-import-sort",
		"react-hooks"
	],
	"extends": [
		"plugin:react-hooks/recommended",
		"plugin:import/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript"
	],
	"rules": {
		"import/no-unresolved": [
			"error",
			{
				"ignore": [
					"^@theme",
					"^@docusaurus",
					"^@site"
				]
			}
		],
		"import/no-useless-path-segments": [
			"error",
			{
				"noUselessIndex": true
			}
		],
		"import/export": "off",
		"import/namespace": "warn",
		"import/no-duplicates": [
			"error",
			{
				"prefer-inline": true
			}
		],
		"import/newline-after-import": [
			"error",
			{
				"count": 1
			}
		],
		"unused-imports/no-unused-imports": "error",
		"simple-import-sort/imports": [
			"error",
			{
				// docs: https://github.com/lydell/eslint-plugin-simple-import-sort#custom-grouping
				"groups": [
					// Side effect imports.
					[
						"^\\u0000"
					],
					// Node.js builtins prefixed with `node:`.
					[
						"^node:"
					],
					// Packages.
					// Things that start with a letter (or digit or underscore), or `@` followed by a letter.
					[
						"^react",
						"^\\w",
						"^@\\w"
					],
					// Absolute imports and other imports such as Vue-style `@/foo`.
					// Anything not matched in another group.
					[
						"^"
					],
					// Relative imports.
					[
						"^../../"
					],
					// Anything that starts with a dot.
					[
						"^../",
						"^./",
						"^\\."
					],
					// Global CSS files at bottom
					[
						"\\.css$"
					]
				]
			}
		],
		// TODO: find option for specify immutable objects for improve consistency
		// for example in `src/hooks/useLiveRef.ts` required as deps a `forceUpdate`
		// but setter from `useState` is never required
		"react-hooks/exhaustive-deps": [
			"warn",
			{
				// custom hooks with deps
				"additionalHooks": "(useEqualMemo|useImmutableCallback|useIsomorphicLayoutEffect)"
			}
		],
		"function-call-argument-newline": [
			"error",
			"consistent"
		],
		"no-var": "error",
		"no-bitwise": "error",
		"no-multi-spaces": "error",
		"no-multiple-empty-lines": "error",
		"space-in-parens": "error",
		"semi": "error",
		"prefer-const": "error",
		// off cuz eslint is dumb: https://stackoverflow.com/questions/63818415/react-was-used-before-it-was-defined
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			"error"
		],
		"valid-jsdoc": 0,
		// Codestyle
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"camelcase": [
			"error",
			{
				"allow": [
					"^UNSAFE_",
					"^UNSTABLE_"
				]
			}
		],
		"arrow-parens": [
			"error",
			"always"
		],
		"operator-linebreak": [
			"error",
			"after",
			{
				"overrides": {
					"?": "before",
					":": "before"
				}
			}
		],
		"space-before-function-paren": [
			"error",
			{
				"asyncArrow": "always",
				"anonymous": "never",
				"named": "never"
			}
		]
	}
}