{
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 90,
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.{md,yml}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}