{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignore": [
          "css-resize",
          "intrinsic-width",
          "border-radius",
          "css-animation",
          "transforms2d"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "**/*.ts",
    "**/*.tsx",
    "dist/**",
    "examples/components-list/dist/**",
    "src/theme/presets/**/*.css"
  ]
}