.Theme_root_default {
	/* --typography-controls-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--typography-controls-outline-width: 2px;
	--typography-controls-font-size-s: 0.9rem;
	--typography-controls-font-size-m: 1rem;
	--typography-controls-font-size-l: 1.2rem;
	--typography-controls-line-height-s: 120%;
	--typography-controls-line-height-m: 150%;
	--typography-controls-line-height-l: 200%;
	--typography-controls-line-height-xl: 250%;
	--typography-controls-indent-xs: 0.1rem;
	--typography-controls-indent-s: 0.2rem;
	--typography-controls-indent-m: 0.4rem; /* Base indent size */
	--typography-controls-indent-l: 0.6rem;
	--typography-controls-indent-xl: 0.8rem;
	--typography-controls-border-radius: 4px;
	--typography-controls-border-width-s: 1px;
	--typography-controls-border-width-m: 2px;
	--typography-controls-border-width-l: 3px;
	--typography-controls-icon-size-xs: 18px;
	--typography-controls-icon-size-s: 20px;
	--typography-controls-icon-size-m: 24px;
	--typography-controls-icon-size-l: 28px;
	--typography-controls-icon-size-xl: 32px;
	--typography-controls-size-s-font-size: 0.9rem;
	--typography-controls-size-s-line-height: 1rem;
	--typography-controls-size-s-indent-inner: 0.4rem;
	--typography-controls-size-m-font-size: 1rem;
	--typography-controls-size-m-line-height: 1.1rem;
	--typography-controls-size-m-indent-inner: 0.5rem;
	--typography-controls-size-l-font-size: 1.2rem;
	--typography-controls-size-l-line-height: 1.2rem;
	--typography-controls-size-l-indent-inner: 0.6rem;

	/* --typography-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--typography-layout-indent-s-all: 0.3rem;
	--typography-layout-indent-m-all: 0.5rem;
	--typography-layout-indent-l-all: 1rem;
	--typography-layout-border-radius: 4px;
	--typography-layout-border-width-s: 1px;
	--typography-layout-border-width-m: 2px;
	--typography-layout-size-s-font-size: 0.9rem;
	--typography-layout-size-s-line-height: 1rem;
	--typography-layout-size-s-indent-inner: 0.4rem;
	--typography-layout-size-m-font-size: 1rem;
	--typography-layout-size-m-line-height: 1.1rem;
	--typography-layout-size-m-indent-inner: 0.5rem;
	--typography-layout-size-l-font-size: 1.2rem;
	--typography-layout-size-l-line-height: 1.2rem;
	--typography-layout-size-l-indent-inner: 0.6rem;
	--transition-controls-action-toggle-size-s: 100ms;
	--transition-controls-action-toggle-size-m: 250ms;
	--transition-controls-action-press-size-s: 100ms;
	--transition-controls-action-hover-size-s-in: 150ms;
	--transition-controls-action-hover-size-s-out: 100ms;
	--transition-controls-action-hover-size-m-in: 250ms;
	--transition-controls-action-hover-size-m-out: 200ms;
	--transition-controls-action-hover-size-l-in: 300ms;
	--transition-controls-action-hover-size-l-out: 250ms;
	--transition-controls-action-spin-size-m-duration: 700ms;
	--transition-controls-action-spin-size-m-delay: 200ms;
	--button-transition-hover: 150ms;
	--button-transition-press: 100ms;

	/* --button-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--button-outline-width: 2px;
	--button-border-width: 1px;
	--button-border-radius: 4px;
	--button-size-s-font-size: 0.9rem;
	--button-size-s-line-height: 200%;
	--button-size-s-indent-inner: 0.2rem;
	--button-size-s-indent-outer: 0.4rem;
	--button-size-s-indent-content: 0.1rem;
	--button-size-m-font-size: 1rem;
	--button-size-m-line-height: 200%;
	--button-size-m-indent-inner: 0.4rem;
	--button-size-m-indent-outer: 0.6rem;
	--button-size-m-indent-content: 0.1rem;
	--button-size-l-font-size: 1.2rem;
	--button-size-l-line-height: 200%;
	--button-size-l-indent-inner: 0.4rem;
	--button-size-l-indent-outer: 0.8rem;
	--button-size-l-indent-content: 0.1rem;
	--checkbox-transition-hover: 150ms;
	--checkbox-transition-toggle: 100ms;
	--checkbox-outline-width: 2px;
	--checkbox-border-radius: 4px;
	--checkbox-box-size-s: calc(1rem);
	--checkbox-box-size-m: calc(1.2rem - 1px);
	--checkbox-icon-padding-m: 0.2rem;
	--checkbox-label-indent-m: 0.2rem;
	--checkbox-label-font-size-s: calc(0.9rem);
	--checkbox-label-font-size-m: calc(1rem);
	--icon-size-xs: 18px;
	--icon-size-s: 20px;
	--icon-size-m: 24px;
	--icon-size-l: 28px;
	--icon-size-xl: 32px;

	/* --menu-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--menu-border-radius: 4px;
	--menu-indent-m: 0.4rem;
	--menu-size-s-font-size: 0.9rem;
	--menu-size-m-font-size: 1rem;
	--menu-size-m-container-indent: 0.2rem;
	--menu-size-m-item-line-height: 250%;
	--menu-size-m-item-indent: 0.8rem;
	--menu-size-m-title-line-height: 200%;
	--menu-size-m-title-indent: 0.8rem;
	--menu-size-l-font-size: 1.2rem;
	--menu-view-default-group-border-width: 1px;
	--menu-view-action-group-border-width: 1px;
	--modal-size-m-content-indent: 0.4rem;
	--modal-view-default-border-radius: 4px;
	--popup-border-radius: 4px;
	--select-border-radius: 4px;
	--spinner-size-s: 20px;
	--spinner-size-m: 24px;
	--spinner-size-l: 28px;
	--spinner-animation-duration: 700ms;
	--spinner-animation-delay: 200ms;
	--spinner-view-primitive-border-width: 3px;
	--spinner-view-icon-fill-color: currentcolor;
	--tabsmenu-transition-hover: 150ms;
	--tabsmenu-transition-toggle: 100ms;
	--tabsmenu-transition-motion: 250ms;

	/* --tabsmenu-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--tabsmenu-outline-width: 2px;
	--tabsmenu-indent-inner-m: 0.4rem;
	--tabsmenu-indent-gap-s: 0.2rem;
	--tabsmenu-indent-gap-m: 0.4rem;
	--tabsmenu-size-s-font-size: 0.9rem;
	--tabsmenu-size-s-line-height: 200%;
	--tabsmenu-size-m-font-size: 1rem;
	--tabsmenu-size-m-line-height: 200%;
	--tabsmenu-view-default-border-width: 2px;
	--tabsmenu-view-default-border-radius: 4px;
	--tabsmenu-view-primitive-border-width: 2px;
	--textarea-transition-hover: 150ms;
	--textarea-border-width: 2px;
	--textarea-border-radius: 4px;

	/* --textarea-font-family: inglishenglosoftw8asc, helvetica, sans-serif; */
	--textarea-size-s-font-size: 0.9rem;
	--textarea-size-s-line-height: 120%;
	--textarea-size-s-control-indent: 0.4rem;
	--textarea-size-s-hint-font-size: 0.9rem;
	--textarea-size-s-hint-indent: 0.2rem;
	--textarea-size-m-font-size: 1rem;
	--textarea-size-m-line-height: 120%;
	--textarea-size-m-control-indent: 0.4rem;
	--textarea-size-m-clear-indent: 0.1rem;
	--textarea-size-m-clear-size: 24px;
	--textarea-size-m-hint-font-size: 0.9rem;
	--textarea-size-m-hint-indent: 0.2rem;
	--textinput-transition-hover: 150ms;
	--textinput-border-width: 2px;
	--textinput-border-radius: 4px;

	/* --textinput-font-family: inglishenglosoftw8asc, sans-serif; */
	--textinput-size-s-font-size: 0.9rem;
	--textinput-size-s-line-height: 120%;
	--textinput-size-s-control-indent: 0.4rem;
	--textinput-size-s-hint-font-size: 0.9rem;
	--textinput-size-s-hint-indent: 0.2rem;
	--textinput-size-m-font-size: 1rem;
	--textinput-size-m-line-height: 120%;
	--textinput-size-m-control-indent: 0.4rem;
	--textinput-size-m-hint-font-size: 0.9rem;
	--textinput-size-m-hint-indent: 0.2rem;
	--textinput-size-m-clear-indent: 0.2rem;
}
