.TextTranslator {
	box-sizing: border-box;
	font-family: var(--textarea-font-family);
}

.TextTranslator > *:not(:last-child) {
	margin-block-end: var(--typography-layout-indent-m-all);
}

/* LangPanel */
.TextTranslator-LangPanel {
	min-width: max-content;
}

/* InputContainer */
.TextTranslator-InputContainer {
	width: min-content;
	min-width: 100%;
	max-width: 100%;
}

.TextTranslator-InputContainerWrapper {
	box-sizing: border-box;
}

.TextTranslator-InputContainerWrapper > *:not(:last-child) {
	margin-block-end: var(--typography-layout-indent-m-all);
}

/* Input */
.TextTranslator-Input {
	width: 100%;
}

.TextTranslator-Input .Textarea-Wrap {
	display: flex;
	height: 150px;
	flex-direction: column;
}

.TextTranslator-Input .Textarea-Control {
	min-height: initial;
	max-height: initial;
}

.TextTranslator-Input .TextTranslator-TextActions {
	z-index: 2;
}

.TextTranslator-TextActions > :not(:last-child) {
	margin-right: var(--typography-layout-indent-s-all);
}

/* Result */
.TextTranslator-ResultContainer {
	display: flex;
	flex-direction: column;
	background-color: var(--textarea-view-default-fill-color-disabled);
	color: var(--textarea-view-default-typo-color-base);
	border-radius: var(--textarea-border-radius);
	max-height: 200px;
	font-family: var(--textarea-font-family);
}

.TextTranslator-ResultText {
	min-height: 130px;
	overflow: auto;
	padding: var(--textarea-size-m-control-indent);
	white-space: pre-line;
	box-sizing: border-box;
	word-break: break-word;
}

.TextTranslator-LanguageSuggestion > *:not(:last-child) {
	margin-inline-end: 0.3em;
}
