.PageTranslator {
	font-family: var(--typography-font-family);
}

.PageTranslator > :not(:last-child) {
	margin-block-end: var(--typography-controls-indent-l);
}

.PageTranslator-Header {
	margin: var(--typography-layout-indent-l-all) 0 var(--typography-layout-indent-m-all);
}

/* Mobile view */
.PageTranslator-TranslateButton_fill {
	width: 100%;
}

.PageTranslator-TranslateButton_fill .Button-Text {
	text-align: center;
	font-size: 1.1em;
	padding: 0.1em;
}

.PageTranslator-LangPanel {
	display: inline;
}

.PageTranslator_view_mobile .PageTranslator-LangPanel {
	display: block;
}

/* Counter */
.PageTranslator-Counter {
	display: inline-block;
	background-color: var(--button-view-default-fill-color-disabled);
	color: var(--button-view-default-typo-color-disabled);
	font-size: var(--button-size-s-font-size);
	line-height: var(--button-size-s-line-height);
	padding: 0 var(--button-size-m-indent-inner);
	border-radius: var(--button-border-radius);
}

.PageTranslator-Counter:not(:last-child) {
	margin-inline-end: var(--button-size-s-indent-outer);
}

.PageTranslator-CounterContent {
	margin-left: var(--typography-layout-indent-s-all);
	border-left: 1px solid currentcolor;
	padding-left: var(--typography-layout-indent-s-all);
}

/* List */
.PageTranslator-List {
	margin: 0;
	padding: 0;
}

.PageTranslator-ListItem {
	list-style: none;
	padding: 0;
}

.PageTranslator-ListItem:not(:last-child) {
	margin-block-end: var(--typography-controls-indent-m);
}

/* Placeholder */
.PageTranslator-Placeholder {
	margin-bottom: 0.5rem;
}

/* Option */
.PageTranslator-OptionTitle {
	margin-right: var(--typography-controls-indent-l);
}

/* Indent for space to select list */
.PageTranslator-OptionValue {
	margin-right: var(--typography-controls-indent-l);
}

/* Container */
.PageTranslator-Container_indent_vertical > :not(:last-child) {
	margin-block-end: var(--typography-controls-indent-l);
}

.PageTranslator-Container_indent_horizontal > :not(:last-child) {
	margin-inline-end: var(--typography-controls-indent-l);
}

/* .PageTranslator-OptionContainer_mobile */
.PageTranslator-OptionContainer_mobile .PageTranslator-OptionTitle {
	display: block;
}

.PageTranslator-OptionContainer_mobile .PageTranslator-OptionValue .Select {
	width: 100%;
}
