/* Make wrapper position absolute, to firefox do not prevent a focus reset */
.TextTranslatorPopup:not(.TextTranslatorPopup_mobile) {
	position: absolute;
}

.TextTranslatorPopup {
	pointer-events: all;
}

/* TranslateButton */
.TextTranslatorPopup-TranslateButton {
	display: block;
	opacity: 0.7;
	width: 1.5rem;
	height: 1.5rem;
}

.TextTranslatorPopup-TranslateButton:hover {
	opacity: 1;
}

/* Mobile overrides */
.TextTranslatorPopup_mobile .Modal-Table {
	max-width: 100%;
}

.TextTranslatorPopup_mobile .Modal-Content {
	display: block;
}
