/* Overloads */

/* TODO: patch this in checkbox component */
.OptionsPage-OptionContainer .Checkbox-Label {
	margin-inline-start: var(--typography-layout-indent-s-all);
}

.OptionsPage-OptionContainer > *:not(:last-child) {
	margin-bottom: var(--typography-layout-indent-m-all);
}

/* OptionSection */
.OptionsPage-OptionSection {
	position: relative;
	display: grid;
	grid-template-columns: 200px auto;
	gap: 1em;
	padding-left: var(--typography-layout-indent-m-all);
	border-left: var(--typography-layout-border-width-m) solid transparent;
}

.OptionsPage-OptionSection_changed::before {
	background: #f2f5ff;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	padding: 0.5em 0;
	margin-top: -0.5em;
}

.OptionsPage-OptionTitle {
	text-align: right;
}

/* OptionDescription */
.OptionsPage-OptionDescription {
	color: var(--color-typo-secondary);
	font-size: var(--typography-layout-size-s-font-size);
	white-space: break-spaces;
}

.OptionsPage-OptionErrorMessage {
	color: var(--color-typo-error);
	font-size: var(--typography-layout-size-s-font-size);
}
