/* Overloads */

/* TODO: patch this in checkbox component */
.OptionsPage-OptionContainer .Checkbox-Label {
	margin-inline-start: var(--typography-layout-indent-s-all);
}

/* OptionSection */
.OptionsPage-OptionSection > *:not(:first-child) {
	margin-top: var(--typography-layout-indent-m-all);
}

.OptionsPage-OptionSection {
	padding-left: var(--typography-layout-indent-m-all);
	border-left: var(--typography-layout-border-width-m) solid transparent;
}

.OptionsPage-OptionSection_changed {
	border-color: var(--options-page-section-active-border-color);
}

/* OptionDescription */
.OptionsPage-OptionDescription {
	color: var(--color-typo-secondary);
	font-size: var(--typography-layout-size-s-font-size);
	white-space: break-spaces;
}

.OptionsPage-OptionErrorMessage {
	color: var(--color-typo-error);
	font-size: var(--typography-layout-size-s-font-size);
}
