@font-face {
	font-family: 'binarywenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/binarywenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'inglishenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/inglishenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'koreanenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/koreanenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'russianenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/russianenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'hindienglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/hindienglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'banglaenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/banglaenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gurmukhienglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/gurmukhienglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'guzratienglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/guzratienglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'oriyaenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/oriyaenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'tamilenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/tamilenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'teluguenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/teluguenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'kannadaenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/kannadaenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'malayalamenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/malayalamenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sinhalaenglosoftw8asc';
	src: url('./fonts/hscii/englosoftw8/englosoftw8asc/sinhalaenglosoftw8asc.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'hindionlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/hindionlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'banglaonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/banglaonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gurmukhionlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/gurmukhionlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'guzrationlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/guzrationlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'oriyaonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/oriyaonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'tamilonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/tamilonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'teluguonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/teluguonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'kannadaonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/kannadaonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'malayalamonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/malayalamonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sinhalaonlyw8asc';
	src: url('./fonts/hscii/onlyw8/onlyw8asc/sinhalaonlyw8asc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
