/* Page */
.OptionsPage-Page {
	padding: var(--typography-layout-indent-l-all) var(--typography-layout-indent-m-all) 0;
	max-width: 100%;
}

@media (width <= 600px) {
	.OptionsPage-Page {
		padding: var(--typography-layout-indent-l-all);
	}
}

.OptionsPage-OptionsTree {
	margin: 4rem 0 !important;
}

/* ConfirmMenu */

.OptionsPage-ConfirmMenu {
	position: fixed;
	border-radius: calc(var(--typography-layout-border-radius) * 2);
	padding: var(--typography-layout-indent-m-all);
	background: var(--options-page-dialog-fill-color);
	max-width: max-content;
	bottom: var(--typography-layout-indent-m-all);
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}

/* Inputs */
.OptionsPage .Textarea {
	width: min(100%, 600px);
}

.OptionsPage .Textarea-Wrap {
	min-height: 5rem;
	max-height: 20rem;
}

.OptionsPage .Textarea-Control {
	position: absolute;
}

/* IndentMixin */
.OptionsPage-IndentMixin_horizontal > *:not(:first-child) {
	margin-left: var(--typography-layout-indent-m-all);
}

.OptionsPage-IndentMixin_vertical > *:not(:first-child) {
	margin-top: calc(var(--typography-layout-indent-l-all) * 1.5);
}

/* Components */
.OptionsPage .Checkbox {
	white-space: break-spaces;
}
