.EmbeddedControlPanel {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background-color: #f0f0f0;
	border-radius: 2px;
	z-index: 999999;
}

.EmbeddedControlPanel > *:not(:last-child) {
	margin-inline-end: 0.5rem;
}

.EmbeddedControlPanel-Logo {
	max-width: 5rem;
	line-height: 2rem;
}

.EmbeddedControlPanel-LogoImage {
	display: inline-block;
	max-width: 100%;
	height: min-content;
	vertical-align: middle;
}
